/*--------------------------------------------------------------
# Full Score Events event archive theming
--------------------------------------------------------------*/

.post-type-archive-fse_event {
	background: linear-gradient(to right, var(--color-gray-lightest), var(--color-gray-lighter), var(--color-gray-lightest));
}

.fse-archive-header,
.fse-featured-events {
	border-bottom: 7px solid #fbfbfb;
}

.fse-archive-header {
	margin-top: 0;
	margin-bottom: var(--content-spacing);
	min-height: 0;
}

.fse-main-event-archive-has-featured-events .fse-archive-header {
	display: none;
}

/* emulate .alignfull */
.fse-featured-events,
.fse-events-loop {
	max-width: none;
	grid-column: 1 / -1;

	@media (--wide-menu-query) {
		margin-left: calc(var(--header-bg-offset) * -1);
		width: calc(100% + var(--header-bg-offset));
	}
}

.fse-featured-heading {
	text-align: left;
}

.fse-featured-heading,
.fse-season-label {
	font-size: calc(38 / var(--global-font-size) * 1rem);
}

.fse-season-label {
	color: var(--color-white);
	text-shadow:
		0 1px 2px rgba(0, 0, 0, 0.23),
		0 3px 10px rgba(0, 0, 0, 0.18),
		0 0 40px rgba(0, 0, 0, 0.07);
}

.fse-season-label-year {
	font-size: calc(24 / var(--global-font-size) * 1rem);
}

/* hide excerpt from main loops */
.fse-events-loop .fse-event-card > p {
	display: none;
}

.fse-event-card {

	& .fse-date {
		margin-top: -0.875rem;
	}

	& .fse-date-days {
		padding-top: 0.75rem;
	}
}

@media (--small-content-query) {

	.fse-date {
		min-width: 5rem;
	}

	.fse-event-card {
		padding: 1rem 1.25rem 1.5rem;

		& .fse-date {
			margin-top: -1rem;
		}

		& .fse-date-days {
			padding-top: 0.875rem;
			padding-bottom: 0.333rem;
		}
	}
}

@media (min-width: 64rem) {

	.post-type-archive-fse_event {
		background: linear-gradient(to right, var(--color-gray-lightest), var(--color-gray-lighter) 65%, var(--color-gray-lightest));
	}

	.fse-featured-heading,
	.fse-season-label {
		font-size: calc(52 / var(--global-font-size) * 1rem);
	}

	.fse-season-label {
		text-shadow:
			0 1px 2px rgba(0, 0, 0, 0.2),
			0 3px 10px rgba(0, 0, 0, 0.14),
			0 0 43px rgba(0, 0, 0, 0.065);
	}

	.fse-season-label-year {
		font-size: calc(32 / var(--global-font-size) * 1rem);
	}

	.fse-event-card .fse-event-title {
		font-size: calc(26 / var(--global-font-size) * 1rem);
	}

	.fse-event-header-content {
		gap: 0.75rem;
	}
}
