/*--------------------------------------------------------------
# Shared Full Score Events theming
--------------------------------------------------------------*/

:root {
	--fse-event-header-title-offset: 7%;
}

@media (min-width: 80rem) {

	:root {
		--fse-column-cards-gap-y: 3rem;
	}
}

.fse-date {
	min-width: 4.5rem;
	padding: 0;
	color: var(--color-white);
	background: var(--color-black);
	border: none;
}

.fse-date-days {
	padding-left: 0.666rem;
	padding-right: 0.666rem;
	font-size: calc(38 / var(--global-font-size) * 1rem);
	font-weight: 700;
}

.fse-date-multi-day .fse-date-days {
	font-size: calc(32 / var(--global-font-size) * 1rem);
}

.fse-date-month {
	padding-top: 0.666rem;
	padding-bottom: 0.333rem;
	font-family: var(--highlight-font-family);
	font-size: calc(16 / var(--global-font-size) * 1rem);
	font-weight: 600;
	clip-path: polygon(-1% 4px, 101% -1%, 101% 101%, -1% 101%);
}

.fse-date-month,
.fse-featured-events .fse-date-month {
	color: var(--color-white);
	background: linear-gradient(to right, var(--color-gold-mid) -10%, var(--color-gold));
	border-bottom: 2px solid var(--color-gold-mid);
}

.fse-event-title,
.fse-season-label {
	padding-bottom: 0;

	&::before {
		display: none;
	}
}

.fse-event-card,
.fse-event-link-overlay-message {
	transition-timing-function: ease-in-out;
	transition-duration: var(--transition-duration);
	transition-property: transform, box-shadow;
}

.fse-event-card {
	padding: 0.875rem;
	background: var(--color-white);
	box-shadow: 0 6px 40px rgba(1, 1, 1, 0.05);
	color: var(--global-font-color);

	&:hover {
		transform: translateY(-4px);
		box-shadow: 0 9px 60px rgba(1, 1, 1, 0.12);
	}

	& .fse-date {
		margin-top: 0;
	}

	& .fse-event-title {
		font-family: var(--global-font-family);
		font-size: calc(22 / var(--global-font-size) * 1rem);
	}

	& .fse-event-meta > * {
		width: 100%;
	}

	& a {
		color: inherit;
	}

	& > p {
		font-size: calc(15 / var(--global-font-size) * 1rem);

		&:first-of-type {
			padding-top: 0.75rem;
			border-top: solid 1px var(--color-gray-mid);
		}
	}
}

.fse-event-link-overlay-message {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	width: 6rem;
	padding: 1rem;
	text-align: center;
	color: var(--global-font-color);
	background: var(--color-white);
	transform: translateX(100%);

	& [data-fse-icon] {
		margin: 0.25rem 0 0 0;
	}
}

.fse-event-link-overlay {
	align-items: stretch;
	justify-content: flex-end;
	overflow: hidden; /* hide message box shadow */

	&:hover .fse-event-link-overlay-message {
		transform: translateX(0%);
		box-shadow: -3px 0 34px rgba(0, 0, 0, 0.17);

		& [data-fse-icon] {
			transform: none;
		}
	}
}

.fse-event-link-overlay,
.fse-event-link-overlay:hover {
	outline: none;
}


/* View layout */

/* reset main wrapper */
.fse-wrap {
	width: auto;
	max-width: none;
}

/* emulate .alignfull */
.fse-featured-events,
.fse-events-loop,
.fse-main-singular .fse-event-single-thumbnail {
	grid-column: 1 / -1;

	@media (--wide-menu-query) {
		margin-left: calc(var(--header-bg-offset) * -1);
		width: calc(100% + var(--header-bg-offset));
	}
}
