/*--------------------------------------------------------------
# Shared Full Score Events block theming
--------------------------------------------------------------*/

/* remove header accents */
.fse-program-heading-heading {
	padding-bottom: 0;

	&::before {
		display: none;
	}
}

.entry-content .fse-schedule,
.entry-content .fse-program {
	max-width: 43.75rem; /* 700px */

	/* stylelint-disable no-descending-specificity */
	&,
	& p {
		color: var(--global-font-color);
	}
	/* stylelint-enable no-descending-specificity */
}
