@import "_custom-properties.css";
@import "blocks/_button.css";

/*--------------------------------------------------------------
## Blocks
--------------------------------------------------------------*/

/*
 * Available block selectors:
 * .wp-block-image
 * .wp-block-media-text
 * .wp-block-gallery
 * .wp-block-audio
 * .wp-block-video
 * .wp-block-quote
 * .wp-block-cover
 * .wp-block-file
 * .wp-block-button
 * .wp-block-gallery
 * .wp-block-table
 * .wp-block-embed
 * .wp-block-audio
 * .wp-block-pullquote
 * .wp-block-preformatted
 * .wp-block-code
 * .wp-block-verse
 * .wp-block-table
 * .wp-block-separator
 * .wp-block-columns
 * .wp-block-column
 * .wp-block-latest-posts
 * .wp-block-categories
 * .wp-block-archives
 */

/* content grid vertical spacing (like .entry-content)  */
.wp-block-cover__inner-container,
.wp-block-group__inner-container,
.wp-block-media-text__content,
.wp-block-column {
	display: grid;
	row-gap: var(--content-spacing);
}

/* just use padding as first/last, FR for middle (so it can be shared) */
.wp-block-cover__inner-container,
.wp-block-group__inner-container,
.wp-block-media-text__content {
	grid-template-columns: var(--grouped-padding) 1fr var(--grouped-padding);
}

/* always put grid layout descendents in main column */
.wp-block-cover__inner-container > *,
.wp-block-group__inner-container > *,
.wp-block-media-text__content > * {
	grid-column: 2;
	max-width: var(--content-width-default);
}

/* add top-bottom padding to "grouped" stuff */
.wp-block-cover__inner-container,
.wp-block-group.has-background,
.wp-block-media-text .wp-block-media-text__content {
	padding: var(--grouped-padding) 0;
}

/* GB override */
.wp-block-cover .wp-block-cover__inner-container {
	width: 100%;
}

/* apply full-fledged grid */
.wp-block-cover.alignfull .wp-block-cover__inner-container,
.wp-block-group.alignfull .wp-block-group__inner-container {
	grid-template-columns: var(--content-grid-template-columns);
	column-gap: var(--content-grid-column-gap);
}

/* remove default bottom margins */
.wp-block-columns,
.wp-block-image,
.wp-block-image figcaption,
.wp-block-quote {
	margin-bottom: 0;
}

.wp-block-cover {
	padding: 0;
	height: auto;
}

/* add spacing between columns while they're stacked (px from GB) */
@media (max-width: 599px) {

	.wp-block-column + .wp-block-column {
		margin-top: var(--content-spacing);
	}
}

/* adjust horizontal spacing between columns to our var */
@media (min-width: 782px) {

	.wp-block-column:not(:first-child) {
		margin-left: var(--content-spacing);
	}
}

@media (--wide-menu-query) {

	/* line media + text images back to "center" */
	.wp-block-media-text.alignfull {
		grid-template-columns: calc(50% + (var(--header-bg-offset) / 2)) 1fr;
	}

	/* fix inernally nested full-width image + text columns */
	.wp-block-media-text.alignfull .alignfull {
		width: 100%;
		margin-left: 0;
	}
}

.wp-block-quote {
	padding-left: 1rem;
}

.wp-block-quote:not(.is-large):not(.is-style-large) {
	border-left-color: var(--color-quote-border);
}

.wp-block-quote__citation,
.wp-block-quote cite,
.wp-block-quote footer {
	border-left-color: var(--color-quote-citation);
}

.wp-block-quote__citation {
	font-style: italic;
}

.wp-block-quote__citation::before {
	content: "– ";
}

.wp-block-quote__citation,
.wp-block-quote cite {
	margin-top: 0;
	font-size: var(--font-size-regular);
}

@media (--content-query) {

	.wp-block-quote {
		padding-left: 1.5rem;
	}

	.wp-block-quote.is-large,
	.wp-block-quote.is-style-large {
		padding: 0 2.5rem;
		border-left: 6px solid var(--color-quote-border);
	}

	.wp-block-quote.is-large::before,
	.wp-block-quote.is-style-large::before {
		margin-bottom: 0.5rem;
		height: 52px;
		line-height: 82px;
	}

	.wp-block-quote.is-large p,
	.wp-block-quote.is-style-large p {
		font-size: calc(26 / var(--global-font-size) * 1rem);
	}
}

.wp-block-latest-posts,
.wp-block-latest-comments {
	padding-top: 1.5em;
	padding-bottom: 1.5em;
	border: 1px solid hsl(0, 0%, 80%);
}

ul.wp-block-latest-posts.alignwide,
ul.wp-block-latest-posts.alignfull,
ul.wp-block-latest-posts.is-grid.alignwide,
ul.wp-block-latest-posts.is-grid.alignfull {
	padding: 0 1.5em;
}

/*--------------------------------------------------------------
# Gallery Block - overrides core styles
--------------------------------------------------------------*/

.wp-block-gallery {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	grid-gap: 0.5em;
}

.wp-block-gallery:not(.components-placeholder) {
	margin: 1.5em auto;
}

/* Override standard ul indentation. */

.entry-content .wp-block-gallery {
	padding-right: 1.5em;
	padding-left: 1.5em;
}

@media screen and (min-width: 48em) {

	.entry-content .wp-block-gallery {
		padding-right: 0;
		padding-left: 0;
	}
}

.wp-block-gallery.columns-2 .blocks-gallery-item,
.wp-block-gallery.columns-3 .blocks-gallery-item,
.wp-block-gallery.columns-4 .blocks-gallery-item,
.wp-block-gallery.columns-5 .blocks-gallery-item,
.wp-block-gallery.columns-6 .blocks-gallery-item,
.wp-block-gallery.columns-7 .blocks-gallery-item,
.wp-block-gallery.columns-8 .blocks-gallery-item,
.wp-block-gallery.columns-9 .blocks-gallery-item {
	grid-column: span 1;
	margin: 0;
	width: inherit;
}


.blocks-gallery-item:last-child:nth-child(odd) {
	grid-column: span 2;
}

@media screen and (min-width: 40em) {

	.wp-block-gallery.columns-2 {
		grid-template-columns: repeat(2, 1fr);
	}

	.wp-block-gallery.columns-3 {
		grid-template-columns: repeat(3, 1fr);
	}

	.wp-block-gallery.columns-4 {
		grid-template-columns: repeat(4, 1fr);
	}

	.wp-block-gallery.columns-5 {
		grid-template-columns: repeat(5, 1fr);
	}

	.wp-block-gallery.columns-6 {
		grid-template-columns: repeat(6, 1fr);
	}

	.wp-block-gallery.columns-7 {
		grid-template-columns: repeat(7, 1fr);
	}

	.wp-block-gallery.columns-8 {
		grid-template-columns: repeat(8, 1fr);
	}

	.wp-block-gallery.columns-9 {
		grid-template-columns: repeat(9, 1fr);
	}
}
