/*--------------------------------------------------------------
## Custom block colors.
--------------------------------------------------------------*/

.has-gold-color,
.has-gold-color a {
	color: var(--color-gold);
}

.has-gold-background-color {
	background-color: var(--color-gold);
}

.has-black-color,
.has-black-color a {
	color: var(--color-black);
}

.has-black-background-color {
	background-color: var(--color-black);
	color: var(--color-white); /* contrast colors */
}

.has-gray-color,
.has-gray-color a {
	color: var(--color-gray);
}

.has-gray-background-color {
	background-color: var(--color-gray);
}

.has-white-color,
.has-white-color a {
	color: var(--color-white);
}

.has-white-background-color {
	background-color: var(--color-white);
}

/* adjust heading underlines */
.has-gold-background-color,
.has-gray-background-color {

	& h1,
	& h2,
	& h3,
	& .h1,
	& .h2,
	& .h3,
	& .has-underline {
		padding-bottom: 0;

		&::before {
			display: none;
		}
	}
}
