/*--------------------------------------------------------------
# Content navigation
--------------------------------------------------------------*/
.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation,
.site-main .pagination {
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
}

.site-main .comment-navigation,
.site-main .posts-navigation {
	margin-top: 2rem;
}

.site-main .post-navigation,
.site-main .pagination {
	margin-top: calc(var(--content-spacing) * 2);
}

.nav-links {
	display: flex;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	width: 50%;
	flex: 1 0 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	text-align: end;
	flex: 1 0 50%;
}

/* stylelint-disable no-descending-specificity */
.post-navigation a {
	display: inline-block;
	font-family: var(--serif-font-family);
	color: var(--global-font-color);

	&:hover,
	&:focus {
		color: var(--color-link);
	}
}
/* stylelint-enable no-descending-specificity */

.post-navigation-sub span {
	display: inline-block;
	text-decoration: none;
}

.pagination .nav-links {
	justify-content: center;
	flex-wrap: wrap;
}

.pagination .page-numbers,
.pagination .prev .svg-inline--fa,
.pagination .next .svg-inline--fa {
	transition-timing-function: ease-in-out;
	transition-duration: var(--transition-duration);
}

.pagination .page-numbers {
	display: inline-block;
	margin: 0.25rem;
	padding: 0.25rem 0.75rem;
	min-width: 1.5em;
	line-height: 1.75;
	font-weight: 700;
	text-align: center;
	text-decoration: none;
	border: 2px solid var(--color-gray);
	transition-property: border-color;
}

/* stylelint-disable no-descending-specificity */
.pagination a,
.pagination a:visited,
.pagination .dots {
	color: var(--global-font-color);
}

.pagination a:hover,
.pagination a:focus,
.pagination a:active,
.pagination .current {
	border-color: var(--color-black);
}
/* stylelint-enable no-descending-specificity */

.pagination .prev,
.pagination .next {
	min-width: auto;
	color: var(--color-black);

	& .svg-inline--fa {
		transition-property: transform;
	}
}

.pagination .prev,
.pagination .prev:hover,
.pagination .next,
.pagination .next:hover {
	border-color: transparent;
}

.pagination .dots {
	min-width: auto;
}

.pagination .next:hover .svg-inline--fa {
	transform: translateX(4px);
}

.pagination .prev:hover .svg-inline--fa {
	transform: translateX(-4px);
}

/* Add space where the prev/next arrow could go for centering */
.pagination .current:first-child {
	margin-left: 2.25rem; /* 1.5em arrow + 3 margins */
}

.pagination .current:last-child {
	margin-right: 2.25rem; /* 1.5em arrow + 3 margins */
}
