/**
 * Custom Properties
 * aka CSS variables.
 *
 * @link: https://developer.mozilla.org/en-US/docs/Web/CSS/--*
 **/

:root {

	/* Colors */
	--color-gold: #ffc90a;
	--color-gold-dark: #eca908;
	--color-gold-dark-vibrant: #e69f07;
	--color-black: #191919;
	--color-gray-darkest: #151515;
	--color-gray-darker: #202020;
	--color-gray-dark: #3d3d3d;
	--color-gray-mid-dark: #8e8e8e;
	--color-gray: #c1c1c1;
	--color-gray-mid: #d9d9d9;
	--color-gray-lightest: #f4f4f4;
	--color-white: #fff;
	--color-red: #de0000;

	--color-link: var(--color-gold-dark);
	--color-link-visited: var(--color-link);
	--color-link-active: var(--color-gold);

	--color-quote-border: var(--color-gold);
	--color-quote-citation: #6c7781;

	/* Gradients */
	--gradient-dark-gray: linear-gradient(to bottom, #1f1f1f, var(--color-gray-darkest));
	--gradient-darker-gray: linear-gradient(to right, #181818, #121212);
	--gradient-gold: linear-gradient(to bottom, var(--color-gold), var(--color-gold-dark-vibrant));

	/* Typography */
	--global-font-color: var(--color-black);
	--global-font-family: "Open Sans", "Helvetica Neue", sans-serif;
	--global-font-size: 16;
	--global-font-line-height: 1.6;
	--highlight-font-family: "Montserrat", "Helvetica Neue", "Arial Narrow", sans-serif;
	--highlight-font-line-height: 1.2;
	--serif-font-family: "Droid Serif", serif;
	--letter-spacing-wide: 2px;
	--form-font-size: calc(15 / var(--global-font-size) * 1rem);
	--dropdown-symbol-width: 0.7em;

	/* Custom editor font sizes */
	--font-size-small: calc(16 / var(--global-font-size) * 1rem);
	--font-size-regular: calc(var(--global-font-size) / 16 * 1rem);
	--font-size-medium: calc(18 / var(--global-font-size) * 1rem);
	--font-size-large: calc(36 / var(--global-font-size) * 1rem);
	--font-size-larger: calc(48 / var(--global-font-size) * 1rem);
	--font-size-largest: var(--font-size-larger);

	/* Spacing */
	--content-width: 90%;
	--content-width-max: 81.875rem;
	--content-width-default: 54.375rem;
	--content-spacing: 2rem;
	--content-paragraph-offset: calc(var(--content-spacing) / -2);
	--extra-content-spacing: var(--content-spacing);
	--grouped-padding: var(--content-spacing);
	--form-field-gap: 1.5rem;

	/* Structure */

	/* middle column is basically a wrap */
	--content-grid-template-columns: 1fr minmax(min-content, var(--content-width-max)) 1fr;

	/* adds up to 10% for an affective 90% middle column width */
	--content-grid-column-gap: 5%;

	/* Header */
	--header-height: 2.875rem; /* 46px */

	/* Buttons */
	--button-padding: 0.875rem 2.25rem;
	--button-padding-small: 0.5rem 1.25rem;
	--button-padding-large: 0.875rem 2.75rem;
	--button-font-size: 1rem;
	--button-font-size-small: calc(14 / var(--global-font-size) * 1rem);
	--button-font-size-large: calc(22 / var(--global-font-size) * 1rem);

	/* Transitions and animations */
	--transition-duration: 200ms;
}

/* desktop font sizes */
@media (--content-query) {

	:root {
		--font-size-regular: calc(18 / var(--global-font-size) * 1rem);
		--font-size-medium: calc(22 / var(--global-font-size) * 1rem);
		--font-size-large: calc(46 / var(--global-font-size) * 1rem);
		--font-size-larger: calc(78 / var(--global-font-size) * 1rem);
		--font-size-largest: calc(94 / var(--global-font-size) * 1rem);

		--content-spacing: 3rem;
		--grouped-padding: calc(var(--content-spacing) * 2);
	}
}
