/**
 * Custom Properties
 * aka CSS variables.
 *
 * @link: https://developer.mozilla.org/en-US/docs/Web/CSS/--*
 **/

:root {

	/* Colors - Remember to update Editor component presets! */
	--color-gold: #ffc90a;
	--color-gold-mid: #f5b212;
	--color-gold-dark: #eca908;
	--color-gold-dark-vibrant: #e69f07;
	--color-black: #191919;
	--color-gray-darkest: #151515;
	--color-gray-darker: #202020;
	--color-gray-dark: #3d3d3d;
	--color-gray-mid-dark: #8e8e8e;
	--color-gray: #c1c1c1;
	--color-gray-mid: #d9d9d9;
	--color-gray-lightest: #f4f4f4;
	--color-white: #fff;
	--color-red: #de0000;

	--color-link: var(--color-gold-dark);
	--color-link-visited: var(--color-link);
	--color-link-active: var(--color-gold);

	--color-quote-border: var(--color-gold);
	--color-quote-citation: #6c7781;

	/* Gradients - Remember to update Editor component presets! */
	--gradient-gold: linear-gradient(to right, var(--color-gold), var(--color-gold-dark-vibrant));
	--gradient-gray-darker: linear-gradient(to right, #181818, #121212);
	--gradient-gray-dark: linear-gradient(to right, #1f1f1f, var(--color-gray-darkest));
	--gradient-gray-light: linear-gradient(to right, var(--color-gray-lightest) 33.333%, var(--color-gray-mid));
	--gradient-gray-lightest: linear-gradient(to right, var(--color-white), var(--color-gray-lightest));

	--gradient-gold-v: linear-gradient(to bottom, var(--color-gold), var(--color-gold-dark-vibrant));
	--gradient-gray-dark-v: linear-gradient(to bottom, #1f1f1f, var(--color-gray-darkest));

	--gradient-gray-dark-overlay: linear-gradient(135deg, rgba(21, 21, 21, 0.5) 25%, rgb(21, 21, 21) 100%);

	/* Typography */
	--global-font-color: var(--color-black);
	--global-font-family: "Open Sans", "Helvetica Neue", sans-serif;
	--global-font-size: 16;
	--global-font-line-height: 1.6;
	--highlight-font-family: "Montserrat", "Helvetica Neue", "Arial Narrow", sans-serif;
	--highlight-font-line-height: 1.2;
	--serif-font-family: "Droid Serif", serif;
	--letter-spacing-wide: 1.25px;
	--form-font-size: calc(15 / var(--global-font-size) * 1rem);
	--dropdown-symbol-width: 0.7em;
	--text-shadow-gold: 1px 1px 1px var(--color-gold-mid), 2px 2px 0 var(--color-gold-mid);

	/* Custom editor font sizes */
	--font-size-small: calc(16 / var(--global-font-size) * 1rem);
	--font-size-regular: calc(var(--global-font-size) / 16 * 1rem);
	--font-size-medium: calc(18 / var(--global-font-size) * 1rem);
	--font-size-large: calc(36 / var(--global-font-size) * 1rem);
	--font-size-larger: calc(48 / var(--global-font-size) * 1rem);
	--font-size-largest: var(--font-size-larger);

	/* Spacing */
	--content-width: 90%;
	--content-width-max: 81.875rem;
	--content-width-default: 54.375rem;
	--content-spacing: 2rem;
	--content-paragraph-offset: calc(var(--content-spacing) / -2);
	--extra-content-spacing: var(--content-spacing);
	--grouped-padding: var(--content-spacing);
	--form-field-gap: 1.5rem;

	/* Structure */

	/* middle column is basically a wrap */
	--content-grid-template-columns: 1fr minmax(min-content, var(--content-width-max)) 1fr;

	/* adds up to 10% for an affective 90% middle column width */
	--content-grid-column-gap: 5%;

	/* Header */
	--header-width: 16.25rem;
	--header-height: 2.875rem; /* 46px */
	--header-angle: 4deg;
	--header-spacing-h: 2rem;
	--header-main-spacing: 3.75rem;
	--header-bg-offset: calc((var(--header-width) + var(--header-main-spacing)) * 0.333);

	--admin-bar-height: 46px;

	/* Buttons */
	--button-spacing: 0.25rem;
	--button-padding: 0.875rem 2.25rem;
	--button-padding-small: 0.5rem 1.25rem;
	--button-padding-large: 0.875rem 2.75rem;
	--button-font-size: 1rem;
	--button-font-size-small: calc(14 / var(--global-font-size) * 1rem);
	--button-font-size-large: calc(22 / var(--global-font-size) * 1rem);
	--button-box-shadow: 0 4px 16px rgb(25, 25, 25, 0.15);
	--button-box-shadow-gold: 0 3px 16px rgb(235, 165, 8, 0.25);
	--button-focus-box-shadow: 0 0 0 1px var(--color-white), 0 0 0 3px var(--color-gray-darker);
	--button-focus-box-shadow-gold: 0 0 0 1px var(--color-white), 0 0 0 3px var(--color-gold);

	/* Transitions and animations */
	--transition-duration: 200ms;
	--menu-transition-duration: 350ms;
}

@media (--admin-bar-desktop-query) {

	:root {
		--admin-bar-height: 32px;
	}
}

/* desktop font sizes */
@media (--content-query) {

	:root {
		--font-size-regular: calc(18 / var(--global-font-size) * 1rem);
		--font-size-medium: calc(22 / var(--global-font-size) * 1rem);
		--font-size-large: calc(46 / var(--global-font-size) * 1rem);
		--font-size-larger: calc(78 / var(--global-font-size) * 1rem);
		--font-size-largest: calc(94 / var(--global-font-size) * 1rem);

		--content-spacing: 3rem;
		--grouped-padding: calc(var(--content-spacing) * 2);
	}
}

@media (--wider-menu-query) {

	:root {
		--header-width: 17.125rem;
		--header-spacing-h: 2.375rem;
	}
}
