/**
 * Custom Properties
 * aka CSS variables.
 *
 * @link: https://developer.mozilla.org/en-US/docs/Web/CSS/--*
 **/

:root {

	/* Colors */
	--color-gold: #ffc90a;
	--color-gold-dark: #eca908;
	--color-black: #191919;
	--color-gray: #c1c1c1;

	/* --color-gray-light: #d9d9d9; form border */
	--color-gray-lightest: #f4f4f4;
	--color-white: #fff;

	--color-link: var(--color-gold-dark);
	--color-link-visited: var(--color-link);
	--color-link-active: var(--color-gold);

	--color-quote-border: #000;
	--color-quote-citation: #6c7781;

	/* Typography */
	--global-font-color: var(--color-black);
	--global-font-family: "Open Sans", "Helvetica Neue", sans-serif;
	--global-font-size: 16;
	--global-font-line-height: 1.6;
	--highlight-font-family: "Montserrat", "Helvetica Neue", "Arial Narrow", sans-serif;
	--highlight-font-line-height: 1.2;
	--dropdown-symbol-width: 0.7em;

	/* Custom editor font sizes */
	--font-size-small: calc(16 / var(--global-font-size) * 1rem);
	--font-size-regular: calc(var(--global-font-size) / 16 * 1rem);
	--font-size-large: calc(36 / var(--global-font-size) * 1rem);
	--font-size-larger: calc(48 / var(--global-font-size) * 1rem);
	--font-size-largest: var(--font-size-larger);

	/* Spacing */
	--content-width: 45rem;

	/* Structure */
}

/* desktop font sizes */
@media (--content-query) {

	:root {
		--font-size-regular: calc(18 / var(--global-font-size) * 1rem);
		--font-size-large: calc(46 / var(--global-font-size) * 1rem);
		--font-size-larger: calc(78 / var(--global-font-size) * 1rem);
		--font-size-largest: calc(94 / var(--global-font-size) * 1rem);
	}
}
