/*--------------------------------------------------------------
# jQuery UI datepicker theming
--------------------------------------------------------------*/

.ui-datepicker-trigger {
	display: none;
}

.ui-datepicker {
	min-width: 280px;
	box-shadow: 0 4px 40px rgba(0, 0, 0, 0.15);
	background: var(--color-white);
}

.ui-datepicker th,
.ui-datepicker td {
	min-width: 40px;
}

.ui-datepicker-header {
	display: grid;
	grid-template-columns: 1fr 170px 1fr;
	gap: 0.666rem;
	min-height: 2.5rem;
	background: var(--color-black);
	color: var(--color-white);
}

.ui-datepicker-prev,
.ui-datepicker-next {
	font-size: 0;
	background-repeat: no-repeat;
	background-size: 1rem;
	background-position: center;
}

.ui-datepicker-prev {
	background-image: url(../images/chevron-circle-left-gold.svg);
}

.ui-datepicker-next {
	order: 1;
	background-image: url(../images/chevron-circle-right-gold.svg);
}

a.ui-datepicker-prev,
a.ui-datepicker-next {
	cursor: pointer;
}

/* month/year select wrap */
.ui-datepicker-title {
	display: grid;
	gap: 0.75rem;
	grid-auto-flow: column;
}

.ui-datepicker-month,
.ui-datepicker-year {
	padding: 5px 17px 5px 5px;
	line-height: 1.2;
	font-size: calc(14 / var(--global-font-size) * 1rem);
	color: var(--color-white);
	background-color: transparent;
	background-image: url(../images/chevron-down-white.svg);
	background-position: 100% calc(50% + 1px);
	background-size: 10px;
	border: none;
}

.ui-datepicker-title option {
	background: var(--color-white);
	color: var(--color-black);
}

.ui-datepicker-calendar {
	margin: 0;
	text-align: center;
	font-size: calc(15 / var(--global-font-size) * 1rem);

	&,
	& td {
		padding: 0;
	}

	& th {
		font-size: calc(13 / var(--global-font-size) * 1rem);
	}

	& a {
		display: block;
		text-decoration: none;
		color: var(--color-black);
	}

	& th,
	& a {
		padding: 5px;
	}

	& thead {
		background: var(--color-gold);
	}

	& tr:nth-child(even) {
		background: var(--color-gray-lightest);
	}

	& .ui-state-hover {
		background: var(--color-gold);
	}

	& .ui-state-active {
		background: var(--color-black);
		color: var(--color-white);
	}
}

.ui-datepicker-unselectable {
	color: var(--color-gray-mid-dark);
}
