@import "_custom-properties.css";

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
/* stylelint-disable */
html {
	box-sizing: border-box;
}
/* stylelint-enable */

/**
 * Inherit box-sizing to make it easier to change the property for
 * components that leverage other behavior; see
 * http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
	box-sizing: inherit;
}

/* stylelint-disable */
body {
	background: #fff;
	/* Fallback for when there is no custom background color defined. */
}
/* stylelint-enable */

/* reset */
ul,
ol {
	margin: 0;
	padding: 0;
}

ul,
ol,
ol ul,
ul ul {
	list-style: none;
}

dt {
	font-weight: 700;
}

dd {
	margin: 0 1.5em 1.5em;
}

/* stylelint-disable */
img {
	display: block;
	height: auto;
	max-width: 100%;
	transition: opacity ease-in-out 250ms;
}
/* stylelint-enable */

/* Extra wide images within figure tags don't overflow the content area. */
figure {
	margin: 0;
}

table {
	border-collapse: collapse;
	margin: 0 0 1.5em;
	width: 100%;
}

svg {
	display: block;
	height: auto;
}

.svg {
	font-size: 0;
}
