/*--------------------------------------------------------------
## Custom block gradients.
--------------------------------------------------------------*/

.has-dark-gray-gradient-background {
	background: var(--gradient-gray-dark);
	color: var(--color-white);
}

.has-light-gray-gradient-background {
	background: var(--gradient-gray-light);
}

.has-lightest-gray-gradient-background {
	background: var(--gradient-gray-lightest);
}

.has-gold-gradient-background {
	background: var(--gradient-gold);
}

/* overlays for covers/images */
.has-dark-gray-overlay-gradient-background {
	background: var(--gradient-gray-dark-overlay);
}

.has-dark-gray-overlay-to-right-gradient-background {
	background: var(--gradient-gray-dark-overlay-to-right);
}

/* title underline adjustments */
.has-gold-gradient-background h2,
.has-gold-gradient-background h3,
.has-gold-gradient-background .h2,
.has-gold-gradient-background .h3,
.has-gold-gradient-background .has-underline,
.has-gold-gradient-background + .wp-block-cover__inner-container h2,
.has-gold-gradient-background + .wp-block-cover__inner-container h3,
.has-gold-gradient-background + .wp-block-cover__inner-container .h2,
.has-gold-gradient-background + .wp-block-cover__inner-container .h3,
.has-gold-gradient-background + .wp-block-cover__inner-container .has-underline {
	padding-bottom: 0;
}

.has-gold-gradient-background h2::before,
.has-gold-gradient-background h3::before,
.has-gold-gradient-background .h2::before,
.has-gold-gradient-background .h3::before,
.has-gold-gradient-background .has-underline::before,
.has-gold-gradient-background + .wp-block-cover__inner-container h2::before,
.has-gold-gradient-background + .wp-block-cover__inner-container h3::before,
.has-gold-gradient-background + .wp-block-cover__inner-container .h2::before,
.has-gold-gradient-background + .wp-block-cover__inner-container .h3::before,
.has-gold-gradient-background + .wp-block-cover__inner-container .has-underline::before {
	display: none;
}
