/*--------------------------------------------------------------
## Custom block gradients.
--------------------------------------------------------------*/

.has-dark-gray-gradient-background {
	background: var(--gradient-gray-dark);
}

.has-gold-gradient-background {
	background: var(--gradient-gold);
}

/* overlays for covers/images */
.has-dark-gray-overlay-gradient-background {
	background: var(--gradient-gray-dark-overlay);
}
