/*--------------------------------------------------------------
## Header
--------------------------------------------------------------*/

.site-header {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 25;
	display: grid;
	grid-auto-flow: column;
	justify-content: end;
	height: var(--header-height);
}

.site-branding {
	position: absolute; /* keeps header height from messing up */
	left: 1rem;
	width: 3.375rem;
}

.site-branding-logo {
	display: block;
	border-bottom: 3px solid var(--color-gray-dark);
	transition: border-bottom ease-in-out var(--transition-duration);
}

.site-branding-logo:hover,
.site-branding-logo:focus {
	border-bottom-color: var(--color-gold);
}

@media (--narrow-menu-query) {

	/* only do background on small screens */
	.site-header {
		background: var(--gradient-darker-gray);
	}
}

/* main menu "break" to sidebar */
@media (--wide-menu-query) {

	.site-branding {
		left: var(--header-spacing-h);
		z-index: 1; /* layer over rest of header */
		width: 91px;
	}

	.site-branding-logo {
		border-bottom-width: 0;
		border-bottom-color: transparent;
	}

	.site-branding-logo:hover,
	.site-branding-logo:focus {
		border-bottom-width: 5px;
	}
}
