/*--------------------------------------------------------------
# Icon link
--------------------------------------------------------------*/

.icon-link {
	display: inline-flex;
	align-items: center;
	margin: -0.5rem;
	padding: 0.5rem;
	font-family: var(--highlight-font-family);
	font-size: calc(17 / var(--global-font-size) * 1rem);
	line-height: var(--highlight-font-line-height);
	font-weight: 700;
	letter-spacing: var(--letter-spacing-wider);
	text-transform: uppercase;
	text-decoration: none;

	& svg {
		vertical-align: -0.2em;
		margin-left: 0.5rem;
		font-size: calc(22 / var(--global-font-size) * 1rem);
		color: var(--color-gold);
		transition-property: transform, color;
		transition-timing-function: ease-in-out;
		transition-duration: var(--transition-duration);
	}

	&,
	&:visited,
	&:hover,
	&:focus,
	&:hover svg,
	&:focus svg {
		color: var(--color-black);
	}

	&:hover svg,
	&:focus svg {
		transform: translateX(0.25rem);

		&.icon-position-left {
			transform: none;
		}
	}

	& .icon-position-left {
		order: -1;
		margin-left: 0;
		margin-right: 0.5rem;
	}
}

/* stylelint-disable */
.icon-link + .icon-link,
p + .icon-link {
	margin-top: var(--content-paragraph-offset);
}
/* stylelint-enable */

.has-gold-background-color .icon-link,
.has-gray-background-color .icon-link,
.has-gold-gradient-background .icon-link,
.has-gold-background-color .icon-link svg,
.has-gold-gradient-background .icon-link svg {
	color: var(--color-black);
}

.has-black-background-color .icon-link,
.has-dark-gray-gradient-background .icon-link,
.has-dark-gray-overlay-gradient-background .icon-link,
.has-dark-gray-overlay-to-right-gradient-background .icon-link,
.has-background-dim .icon-link {

	&,
	&:visited,
	&:hover svg,
	&:focus svg {
		color: var(--color-white);
	}
}

/* correct when nested in blocks that always have white background */
/* stylelint-disable no-descending-specificity */
.fse-schedule .icon-link {

	&,
	&:visited,
	&:hover,
	&:focus,
	&:hover svg,
	&:focus svg {
		color: var(--color-black);
	}
}
/* stylelint-enable no-descending-specificity */
