/*--------------------------------------------------------------
## Layouts
--------------------------------------------------------------*/

.site {
	margin: 0 auto;
	padding-top: var(--header-height);
	max-width: 100%;
}

@media (--wide-menu-query) {

	.site {
		padding-top: 0;
		padding-left: calc(var(--header-width) + var(--header-main-spacing));
	}
}

/* @todo remove sidebar layout? */
@media (--sidebar-query) {

	.has-sidebar .site {
		margin: 0 1em;
		display: grid;
		grid-template-columns: 3fr 1fr;
		grid-gap: 2rem;
		justify-content: center;
	}

	.site-header {
		grid-column: span 2;
	}

	.site-main {
		grid-column: 1;
		min-width: 0;
	}

	.primary-sidebar {
		grid-column: 2;
		min-width: 0;
	}

	.site-footer {
		grid-column: span 2;
	}
}
