/*--------------------------------------------------------------
## Main navigation menu
--------------------------------------------------------------*/

#primary-menu-container {
	position: fixed;
	top: var(--header-height);
	right: 0;
	bottom: 0;
	width: 15.625rem;
	background: var(--color-gray-darkest);
	border-left: 3px solid var(--color-gold);
	box-shadow: inset 0 2px 0 0 var(--color-gray-darker);
	transition: transform ease-in-out var(--menu-transition-duration);
	overflow: hidden; /* for background star */
}

#primary-menu-container .svg-pegasus-star {
	position: absolute;
	top: 105px;
	left: -80px;
	width: 510px;
}

#primary-menu-container .svg-pegasus-star path {
	fill: #111;
}

@media (--narrow-menu-query) {

	#primary-menu-container {
		transform: translateX(100%); /* off-canvas by default */
	}

	.nav--toggle-small.nav--toggled-on #primary-menu-container {
		transform: translateX(0);
	}
}

.main-navigation {
	display: grid;
	font-family: var(--highlight-font-family);
}

.main-navigation a {
	display: block;
	width: 100%;
	padding: 0.5em 1em 0.5em 0;
	text-decoration: none;
	color: var(--color-white);
}

.main-navigation a:hover,
.main-navigation a:focus {
	text-decoration: underline;
}

.main-navigation ul {
	display: block;
	position: relative; /* layer above star */
	list-style: none;
	margin: 0;
	padding: 0;
}

.main-navigation ul ul li {
	padding-left: 1em;
}

@media (--wide-menu-query) {

	.main-navigation ul li a {
		padding: 0.4em 0.5em;
	}

	.main-navigation ul li {
		margin: 0 0 0 0.5em;
	}

	.main-navigation ul li:first-child {
		margin-left: 0;
	}

	.main-navigation ul ul a {
		width: 200px;
	}

	/* stylelint-disable */
	.main-navigation ul ul li {
		padding-left: 0;
		margin-left: 0;
	}
	/* stylelint-enable */

	.main-navigation ul ul li a {
		width: 218px;
		background: none;
	}

	.main-navigation ul ul ul {
		top: 0;
		left: 100%;
		min-height: 100%;
	}

	.main-navigation .menu {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
}
