/*--------------------------------------------------------------
## Super global navigation menu theming
--------------------------------------------------------------*/

/* put removed styles in _main-menu! */
.menu a {
	text-decoration: none;
	font-family: var(--highlight-font-family);
	line-height: var(--highlight-font-line-height);
	font-weight: 700;
	letter-spacing: calc(var(--letter-spacing-wide) / 2);
	text-transform: uppercase;
	transition: color ease-in-out var(--transition-duration);
}
