/*--------------------------------------------------------------
# Search Form
--------------------------------------------------------------*/

.post-password-form {
	border-top: 5px solid var(--color-gold);

	/* override default width */
	&.post-password-form {
		grid-column: 1 / -1;

	}

	@media (--small-content-query) {
		padding: 2rem;

		&.post-password-form {
			grid-column: 2;
			max-width: 26rem;
		}
	}

	/* stylelint-disable no-descending-specificity */
	& label {
		margin-bottom: 0;
		font-size: 0;
	}
	/* stylelint-enable no-descending-specificity */

	& p {
		margin-top: 0;

		/* main label */
		&:first-child {
			margin-bottom: 0.75rem;
			font-size: var(--font-size-medium);
			font-weight: 700;
		}

		/* field + submit wrapper */
		&:nth-child(2) {
			display: grid;
			grid-gap: 0.333rem;
			grid-template-columns: 1fr auto;
		}
	}

	& [type="submit"] {
		padding-top: 0;
		padding-bottom: 0;
	}
}
