/*--------------------------------------------------------------
# "Read more" excerpt link
--------------------------------------------------------------*/

.read-more {
	display: inline-block;
	margin: -0.5rem;
	padding: 0.5rem;
	text-decoration: none;
	font-weight: 700;

	&,
	&:visited,
	&:hover,
	&:focus {
		color: inherit;
	}

	@media (--content-query) {

		& {
			position: absolute;
			transform: translateX(0.25rem);
		}

		& span,
		& .svg-inline--fa {
			transition-timing-function: ease-in-out;
			transition-duration: var(--transition-duration);
		}

		& span {
			transition-property: color;
			color: transparent;
		}

		& .svg-inline--fa {
			position: absolute;
			left: 0.666rem;
			top: 50%;
			transform: translateY(-50%);
			font-size: 1.2em;
			color: inherit;
			transition-property: left;
		}

		&:hover,
		&:focus {

			& span {
				color: inherit;
			}

			& .svg-inline--fa {
				left: 100%;
			}
		}
	}
}
