/*--------------------------------------------------------------
## TablePress theming
--------------------------------------------------------------*/

.entry-content > [id^="tablepress-"] {
	max-width: none;

	@media (--xlarge-content-max-query) {
		overflow-x: scroll;
	}
}

.dataTables_filter {
	margin-bottom: 1rem;

	& label {
		margin-bottom: 0;
	}
}

@media (--content-max-query) {

	.entry-content > [id^="tablepress-"] {
		grid-column: 1 / -1;
	}

	.dataTables_filter {
		margin-right: 1rem;
	}
}

.dataTables_wrapper {
	margin-bottom: 0;
}

.dataTables_info {
	margin-top: 1rem;
}

.tablepress {

	& th,
	& td {
		line-height: 1.333;
	}

	& thead th,
	& tfoot th {
		background: var(--color-gray-darker);
		color: var(--color-white);
	}

	& th:first-child,
	& td:first-child {
		padding-left: 1.125rem;
	}

	& th:last-child,
	& td:last-child {
		padding-right: 1.125rem;
	}

	& .sorting,
	& .sorting:last-child,
	& .sorting_asc,
	& .sorting_desc {
		padding-right: 30px;
	}

	& .sorting_asc,
	& .sorting_desc,
	& .sorting:hover {
		background-color: var(--color-gray-dark);
	}

	& .sorting::after {
		right: 10px;
		color: var(--color-gold);
	}


	& input[type="checkbox"] + label::before {
		top: 6px;
	}

	& input[type="checkbox"] + label::after {
		top: 10px;
	}
}

input[type="checkbox"] + label.tp-add-to-gform-list-checkbox-label {
	font-weight: 600;
}

.tp-add-to-gform-list-submit {
	justify-self: end;
	margin-top: calc(var(--content-spacing) / -2);

	@media (--xlarge-content-query) {
		margin-top: calc(var(--content-spacing) * -1);
	}
}

table.tablepress {
	box-shadow: 0 7px 30px #ededed;

	/* Hide weird edit link. */
	& > caption {
		display: none;
	}
}
