/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Imports
	# Blocks
	# Media
		# Captions
		# Galleries (Legacy)
# Post and page content
	# Alignments
	# Custom block colors
	# Custom font sizes
--------------------------------------------------------------*/

/* @todo move FSE stuff to FSE styles once we get postcss 8 in wp/scripts */

/*--------------------------------------------------------------
# Imports
--------------------------------------------------------------*/
@import "_colors.css";
@import "_gradients.css";
@import "_blocks.css";
@import "_media.css";
@import "_tablepress.css";

/*--------------------------------------------------------------
# Post and page content
--------------------------------------------------------------*/

.entry-header {
	display: flex;
	flex-direction: column;
	position: relative;
	margin-bottom: 1.5rem;
}

.page-header {
	margin-top: calc(var(--content-spacing) * 2);
	margin-bottom: var(--content-spacing);
}

/* stylelint-disable */
.entry-title a {
	text-decoration: none;

	&,
	&:hover,
	&:focus {
		color: var(--global-font-color);
	}
}
/* stylelint-enable */

.entry-meta {
	margin-bottom: 0.5rem;
	font-family: var(--serif-font-family);
	font-size: calc(16 / var(--global-font-size) * 1rem);
	line-height: var(--highlight-font-line-height);

	& .svg-inline--fa {
		margin-right: 0.333rem;
	}

	& strong {
		font-size: var(--font-size-medium);
		font-weight: 400;
	}
}

.posted-on {
	font-family: var(--global-font-family);
	font-weight: 700;
}

/* Hides the update date and time. */
.updated:not(.published) {
	display: none;
}

.post-thumbnail {
	position: relative;
	margin-bottom: 1.5rem;

	& figcaption {
		position: absolute;
	}

	@media (--post-thumbnail-max-query) {
		order: -1;

		& img {
			box-shadow: none;
		}

		& figcaption {
			bottom: 0;
			right: 0;
			background: rgba(25, 25, 25, 0.3);
			color: rgba(255, 255, 255, 0.9);
		}
	}
}

@media (--post-thumbnail-query) {

	.site-main > article.has-post-thumbnail {
		min-height: 23.75rem;
	}

	.post-thumbnail {
		position: absolute;
		top: 0;
		right: 0;
		margin: 0;
		width: 23.75rem;
		height: 23.75rem;

		& img {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			object-fit: cover;
		}

		& figcaption {
			top: 100%;
		}
	}

	.loop-entry.has-post-thumbnail .entry-header {
		padding-top: var(--content-spacing);
	}
}

.entry-loop-separator {
	margin-top: calc(var(--content-spacing) * 1.5);
	margin-bottom: calc(var(--content-spacing) * 1.5);
	opacity: 0.1;

	&:last-of-type {
		display: none;
	}
}

/* content wrapper */
.page-header,
.page-content,
.entry-content,
.entry-summary,
.fse-main-archive, /* @todo we might be able to get rid of this */
.fse-main-singular > .fse_event {
	display: grid;
	grid-template-columns: var(--content-grid-template-columns);
	column-gap: var(--content-grid-column-gap);
	row-gap: var(--content-spacing);
	margin-left: auto;
	margin-right: auto;
}

/* restrict to "default" width */
.entry-meta,
.entry-title,
.post-thumbnail,
.page-header > *,
.page-content > *,
.entry-content > *,
.entry-summary > * {
	max-width: var(--content-width-default);
}

/* place grid items in main column */
.page-header > *,
.page-content > *,
.entry-content > *,
.entry-summary > *,
.fse-main-archive > *,
.fse-main-singular > .fse_event > * {
	grid-column: 2;
}

/* basic content wrappers without full-width background support */
.wrap,
.post-navigation {
	margin-left: auto;
	margin-right: auto;
	width: var(--content-width);
	max-width: var(--content-width-max);
}

/* Align .more-link with the content. */
.entry-content > .more-link {
	display: block;
}

.page-links {
	clear: both;
	margin-bottom: 1.5em;
}

.entry-footer {
	clear: both;
}

.type-fse_staff .entry-meta {
	margin-bottom: 0;
}

.fse-staff-contacts {
	display: flex;
	flex-wrap: wrap;
	margin-left: -0.5rem;
	margin-right: -0.5rem;
	font-weight: 700;

	& .fse-contact-method {
		padding-left: 0.5rem;
		padding-right: 0.5rem;
		grid-gap: 0.25rem;
		color: var(--color-black);
		text-decoration: none;
	}

	& [data-fse-icon] {
		margin-top: 1px;
	}

	@media (--post-thumbnail-query) {
		margin-top: 1rem;
		margin-bottom: 0.25rem;
	}
}

/*--------------------------------------------------------------
## Alignments
--------------------------------------------------------------*/
.alignleft {
	justify-self: start; /* in case we're in a grid */
	float: left;
	margin-right: 1.5rem;
}

.alignright {
	justify-self: end; /* in case we're in a grid */
	float: right;
	margin-left: 1.5rem;
}

.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
	clear: both;
}

/* allow full middle grid column */
.alignwide,
.alignfull {
	max-width: none;
}

/* span content grid columns */
.alignfull {
	grid-column: 1 / -1;
}

/* sidebar menu width */
@media (--wide-menu-query) {

	.alignfull {

		/* bring the whole full-width element back a "buffer" behind menu */
		margin-left: calc(var(--header-bg-offset) * -1);

		/* stretch out width to make up for the left offset */
		width: calc(100% + var(--header-bg-offset));
	}

	.alignfull.no-bg-offset {
		margin-left: 0;
		width: auto;
	}

	/* put certain "container" full width blocks back at the baseline */
	.alignfull.wp-block-group,
	.alignfull.wp-block-cover {
		padding-left: var(--header-bg-offset);
	}
}

.alignfull,
.wp-block-group.alignfull {
	margin-top: var(--extra-content-spacing);
	margin-bottom: var(--extra-content-spacing);
}

.alignwide,
.wp-block-group.alignwide {
	margin-top: var(--content-spacing);
	margin-bottom: var(--content-spacing);
}

/* don't allow extra margins to overlap */
.alignfull + .alignfull,
.alignwide + .alignwide {
	margin-top: 0;
}

/* remove top margin if first block and full width with background */
.alignfull.has-background-dim:first-child,
.alignfull.has-background:first-child,
.alignfull.wp-block-cover:first-child {
	margin-top: 0;
}

/* remove bottom margin if last block and full width with background */
.alignfull.has-background-dim:last-child,
.alignfull.has-background:last-child,
.alignfull.wp-block-cover:last-child {
	margin-bottom: 0;
}

/* remove space between fully-aligned blocks that have backgrounds */
.alignfull.has-background-dim + .alignfull.has-background-dim,
.alignfull.has-background-dim + .alignfull.has-background,
.alignfull.has-background + .alignfull.has-background,
.alignfull.has-background + .alignfull.has-background-dim {
	margin-top: calc((var(--extra-content-spacing) + var(--content-spacing)) * -1);
}

/* remove top/bottom margins from wide blocks in background-less group */
.wp-block-group:not(.has-background) .alignwide {
	margin-top: 0;
	margin-bottom: 0;
}

/* remove wide block top margin if first in "container" */
.wp-block-cover.alignfull .wp-block-cover__inner-container > .alignwide:first-child,
.wp-block-group.alignfull .wp-block-group__inner-container > .alignwide:first-child {
	margin-top: 0;
}

/* remove wide block bottom margin if last in "container" */
.wp-block-cover.alignfull .wp-block-cover__inner-container > .alignwide:last-child,
.wp-block-group.alignfull .wp-block-group__inner-container > .alignwide:last-child {
	margin-bottom: 0;
}

.has-text-align-center {
	margin-left: auto;
	margin-right: auto;
}

.entry-content .wp-block-image {

	& .alignleft,
	& .alignright {
		margin: 0;
	}
}


/*--------------------------------------------------------------
## Custom block font sizes.
--------------------------------------------------------------*/

.has-small-font-size {
	font-size: var(--font-size-small);
}

.has-regular-font-size {
	font-size: var(--font-size-regular);
}

.has-large-font-size {
	font-size: var(--font-size-large);
}

.has-xlarge-font-size {
	font-size: var(--font-size-xlarge);
}
