/*--------------------------------------------------------------
## Button block
--------------------------------------------------------------*/

/* kill trailing space in button blocks not in a buttons block */
.wp-block-button {
	font-size: 0;
}

.wp-block-button__link,
.fse-event-registration-button {
	position: relative;
	z-index: 1; /* establish layering */
	padding: var(--button-padding);
	font-family: var(--highlight-font-family);
	font-size: var(--button-font-size);
	font-weight: 700;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	background-image: var(--gradient-gray-dark-v);
	box-shadow: var(--button-box-shadow);
	border-radius: 0;
	overflow: hidden;
}

.fse-event-registration-button,
.fse-event-registration-button:visited,
.fse-event-registration-button:hover,
.fse-event-registration-button:focus {
	color: var(--color-white);
}

/* hover background */
.wp-block-button__link::before,
.fse-event-registration-button::before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1; /* go behind text, but above wings (b/c ::before) */
	background: var(--color-gray);
	opacity: 0;
	transition: opacity ease-in-out var(--transition-duration);
}

.wp-block-button__link:focus,
.fse-event-registration-button:focus {
	outline: none;
	box-shadow: var(--button-focus-box-shadow);
}

.wp-block-button__link:hover::before,
.wp-block-button__link:focus::before,
.fse-event-registration-button:hover::before,
.fse-event-registration-button:focus::before {
	opacity: 0.22;
}

/* wings */
.wp-block-button__link::after,
.fse-event-registration-button::after {
	content: "";
	position: absolute;
	z-index: -1; /* go behind text */
	bottom: -24px;
	right: 0;
	width: 145px;
	height: 128px;
	background-image: url(../images/pegasus-wings-dark-gray.svg);
	background-repeat: no-repeat;
	opacity: 0.6;

	transform-origin: 100% 60%;
	transition: transform ease-in-out var(--transition-duration);
}

.wp-block-button__link:hover::after,
.wp-block-button__link:focus::after,
.fse-event-registration-button:hover::after,
.fse-event-registration-button:focus::after {
	transform: rotate(12.25deg) scale(1.15) translateX(5%) translateY(10%);
}

.no-background::before,
.no-wings::after {
	display: none;
}

.no-background {
	background: none;
}

/* gold */
.wp-block-button__link.has-gold-background-color {
	background-image: var(--gradient-gold-v);
	box-shadow: var(--button-box-shadow-gold);
}

.wp-block-button__link.has-gold-background-color::before {
	background: var(--color-gold);
}

.wp-block-button__link.has-gold-background-color:focus {
	box-shadow: var(--button-focus-box-shadow-gold);
}

.wp-block-button__link.has-gold-background-color:hover::before,
.wp-block-button__link.has-gold-background-color:focus::before {
	opacity: 0.75;
}

.wp-block-button__link.has-gold-background-color::after {
	background-image: url(../images/pegasus-wings-dark-gold.svg);
}

/* sizes */
@media (--content-query) {

	.has-size-large > .wp-block-button__link,
	.wp-block-button__link.has-size-large {
		padding: var(--button-padding-large);
		font-size: var(--button-font-size-large);
		letter-spacing: var(--letter-spacing-wide);
	}

	.has-size-large > .wp-block-button__link::after,
	.wp-block-button__link.has-size-large::after {
		width: 170px;
		height: 141px;
		background-size: 100%;
		background-position-x: 2px;
	}
}

/*
 * Button wrapper block
 */
.wp-block-buttons {
	margin: calc(var(--button-spacing) * -1);
	font-size: 0; /* remove extra empty space */
}

.wp-block-buttons .wp-block-button.wp-block-button {
	margin: var(--button-spacing);
}
