/*-----------------------------------------------------------------
## Columns - basically copying GB and overriding what we need to
-------------------------------------------------------------------*/

.wp-block-columns {
	flex-wrap: wrap;
	margin: calc(var(--content-spacing) * -1) calc(var(--column-spacing) * -1);
}

/* @see _container.css -- this is a "grid container" */
.wp-block-column {
	align-content: start;
	margin-top: var(--content-spacing);
	margin-bottom: var(--content-spacing);
	padding-left: var(--column-spacing);
	padding-right: var(--column-spacing);

	/* we're handling column padding, so kill default Gutenberg stuff */
	&:not(:first-child) {
		margin-left: 0;
	}
}


/* additional column spacing options */
.kb-columns-spacing-none {

	& .wp-block-columns {
		margin-left: 0;
		margin-right: 0;
	}

	& .wp-block-column {
		padding-left: 0;
		padding-right: 0;
	}
}

.kb-columns-spacing-medium {

	& .wp-block-columns {
		margin-left: calc(var(--column-spacing-medium) * -1);
		margin-right: calc(var(--column-spacing-medium) * -1);
	}

	& .wp-block-column {
		padding-left: var(--column-spacing-medium);
		padding-right: var(--column-spacing-medium);
	}
}

/* column "top spacing" control handling */
.kb-column-top-spacing-medium {
	padding-top: calc(var(--content-spacing) * 0.75);
}

/* medium vertical spacing + default if columns are centered together */
.kb-columns-v-spacing-medium .wp-block-columns,
.wp-block-columns.are-vertically-aligned-center {
	margin-top: calc(var(--content-spacing) / -2);
	margin-bottom: calc(var(--content-spacing) / -2);
}

.kb-columns-v-spacing-medium .wp-block-column,
.wp-block-columns.are-vertically-aligned-center .wp-block-column {
	margin-top: calc(var(--content-spacing) / 2);
	margin-bottom: calc(var(--content-spacing) / 2);
}

/* force full column width until a later point */
@media (max-width: 699px) {

	.fa-mobile-reverse-order .wp-block-columns {
		flex-direction: column-reverse; /* not sure why this is column dude */
	}

	/* from GB */
	.wp-block-column {
		flex-basis: 100% !important;
	}
}

/* columns now, but half width */
@media (min-width: 700px) and (max-width: 1023px) {

	/* from GB, but with our spacing */
	.wp-block-column {
		flex-basis: calc(50% - (var(--column-spacing) / 2)) !important;
		flex-grow: 0;

		&[style="flex-basis:100%"] {
			flex-basis: 100% !important;
		}
	}

	/* hold off form columns for now */
	.wp-block-column .gfield,
	.wp-block-column .ginput_container_address > span,
	.wp-block-column .ginput_container_name > span {
		grid-column: 1 / -1;
	}
}

/* use inlined column widths from block setting */
@media (min-width: 1024px) {

	/* from GB */
	.wp-block-column {
		flex-basis: 0;
		flex-grow: 1;
	}

	/* from GB */
	.wp-block-column[style*="flex-basis"] {
		flex-grow: 0;
	}

	/* take center-aligned "boxed" image figcaption out of flow */
	.is-vertically-aligned-center .wp-block-image.is-style-boxed figcaption {
		position: absolute;
		top: 100%;
	}
}

/* don't split form footer/consent until later */
@media screen and (max-width: 1524px) {

	/* move form stuff to the right later */
	.wp-block-column .gform_footer {
		justify-content: start;
	}

	/* do absolute consent field positioning later */
	.wp-block-column .gfield_consent:last-child {
		position: static;
	}
}
