/*-----------------------------------------------------------------
## Columns - basically copying GB and overriding what we need to
-------------------------------------------------------------------*/

.wp-block-columns {
	flex-wrap: wrap;
	margin: calc(var(--content-spacing) * -1) calc(var(--column-spacing) * -1);
}

/* @see _container.css -- this is a "grid container" */
.wp-block-column {
	align-content: start;
	margin-top: var(--content-spacing);
	margin-bottom: var(--content-spacing);
	padding-left: var(--column-spacing);
	padding-right: var(--column-spacing);
}

/* we're handling column padding, so kill default Gutenberg stuff */
.wp-block-column:not(:first-child) {
	margin-left: 0;
}

/* additional column spacing options */
.kb-columns-spacing-none .wp-block-columns {
	margin-left: 0;
	margin-right: 0;
}

.kb-columns-spacing-none .wp-block-column {
	padding-left: 0;
	padding-right: 0;
}

.kb-columns-spacing-medium .wp-block-columns {
	margin-left: calc(var(--column-spacing-medium) * -1);
	margin-right: calc(var(--column-spacing-medium) * -1);
}

.kb-columns-spacing-medium .wp-block-column {
	padding-left: var(--column-spacing-medium);
	padding-right: var(--column-spacing-medium);
}

/* reduce vertical spacing if columns are centered together */
.wp-block-columns.are-vertically-aligned-center {
	margin-top: calc(var(--content-spacing) / -2);
	margin-bottom: calc(var(--content-spacing) / -2);
}

.wp-block-columns.are-vertically-aligned-center .wp-block-column {
	margin-top: calc(var(--content-spacing) / 2);
	margin-bottom: calc(var(--content-spacing) / 2);
}

/* force full column width until a later point */
@media (max-width: 699px) {

	/* from GB */
	.wp-block-column {
		flex-basis: 100% !important;
	}
}

/* columns now, but half width */
@media (min-width: 700px) and (max-width: 1023px) {

	/* from GB, but with our spacing */
	.wp-block-column {
		flex-basis: calc(50% - (var(--column-spacing) / 2)) !important;
		flex-grow: 0;
	}
}

/* use inlined column widths from block setting */
@media (min-width: 1024px) {

	/* from GB */
	.wp-block-column {
		flex-basis: 0;
		flex-grow: 1;
	}

	/* from GB */
	.wp-block-column[style*="flex-basis"] {
		flex-grow: 0;
	}
}
