/*-----------------------------------------------------------------
## Columns - basically copying GB and overriding what we need to
-------------------------------------------------------------------*/

/* not using inlined widths yet */
@media (min-width: 1024px) {

	/* from GB */
	.wp-block-columns {
		flex-wrap: nowrap;
	}
}

/* no columns yet */
@media (max-width: 699px) {

	/* from GB */
	.wp-block-column {
		flex-basis: 100% !important;
	}

	/* we don't want left margin yet */
	.wp-block-column:nth-child(2n) {
		margin-left: 0;
	}

	/* add spacing between blocks when stacked */
	.wp-block-column + .wp-block-column {
		margin-top: var(--content-spacing);
	}
}

/* columns nowm, but half width */
@media (min-width: 700px) and (max-width: 1023px) {

	/* from GB, but with our spacing */
	.wp-block-column {
		flex-basis: calc(50% - (var(--column-spacing) / 2)) !important;
		flex-grow: 0;
	}

	/* from GB, but with our spacing */
	.wp-block-column:nth-child(2n) {
		margin-left: var(--column-spacing);
	}
}

/* use inlined column widths from block setting */
@media (min-width: 1024px) {

	/* from GB */
	.wp-block-column {
		flex-basis: 0;
		flex-grow: 1;
	}

	/* from GB */
	.wp-block-column[style*="flex-basis"] {
		flex-grow: 0;
	}

	/* from GB, but with our spacing */
	.wp-block-column:not(:first-child) {
		margin-left: var(--column-spacing);
	}
}
