/*--------------------------------------------------------------
## Cover block
--------------------------------------------------------------*/

.wp-block-cover {
	padding: 0;
	height: auto;
}

.wp-block-cover.has-background-dim:not(.has-background-gradient)::before {
	opacity: 0.85;
	background: var(--color-black);
}

.wp-block-cover .wp-block-cover__gradient-background {
	opacity: 0.85;
}

@media (--full-hd-query) {

	.wp-block-cover,
	.wp-block-cover-image {
		min-height: 34rem;
	}
}
