/*--------------------------------------------------------------
## Cover block
--------------------------------------------------------------*/

.wp-block-cover {
	padding: 0;
	height: auto;
}

.wp-block-cover p {
	max-width: 46.875rem; /* 750px */
}

/* use gray paragraph on dark gray background (which is default) */
.wp-block-cover .wp-block-cover__inner-container p {
	color: var(--color-gray);
}

/* inherit color again for other backgrounds */
.wp-block-cover.has-gold-background-color p,
.wp-block-cover.has-gray-background-color p,
.wp-block-cover.has-white-background-color p,
.wp-block-cover .has-gold-gradient-background + .wp-block-cover__inner-container p,
.wp-block-cover .has-light-gray-gradient-background + .wp-block-cover__inner-container p,
.wp-block-cover .has-lightest-gray-gradient-background + .wp-block-cover__inner-container p {
	color: inherit;
}

/* override default non-gradient overlay color/opacity */
.wp-block-cover.has-background-dim:not(.has-background-gradient)::before {
	opacity: 0.85;
	background: var(--color-black);
}

.wp-block-cover.has-background-dim.has-gold-background-color::before {
	opacity: 0.9;
	background: var(--color-gold);
}

.wp-block-cover.has-background-dim.has-gray-background-color::before {
	background: var(--color-gray-mid-dark);
}

.wp-block-cover.has-background-dim.has-white-background-color::before {
	background: var(--color-white);
}

/* use darker text on lighter background options */
.wp-block-cover.has-gold-background-color .wp-block-cover__inner-container,
.wp-block-cover.has-white-background-color .wp-block-cover__inner-container,
.wp-block-cover .has-light-gray-gradient-background + .wp-block-cover__inner-container,
.wp-block-cover .has-lightest-gray-gradient-background + .wp-block-cover__inner-container {
	color: var(--color-black);
}

/* override default background gradient overlay */
.wp-block-cover .wp-block-cover__gradient-background {
	opacity: 0.9;
}

/* override default cover color */
/* stylelint-disable no-descending-specificity */
.wp-block-cover-image .wp-block-cover__inner-container,
.wp-block-cover .wp-block-cover__inner-container {
	color: var(--color-white);
}
/* stylelint-enable no-descending-specificity */

/* "Banner" style */
.wp-block-cover.is-style-banner h1 {
	max-width: 62.5rem;
}

@media (--xlarge-content-query) {

	.wp-block-cover.is-style-banner h1 {
		font-size: calc(94 / var(--global-font-size) * 1rem);
	}
}

@media (--full-hd-query) {

	.wp-block-cover,
	.wp-block-cover-image {
		min-height: 34rem;
	}
}
