/*--------------------------------------------------------------
## Quote block
--------------------------------------------------------------*/

.wp-block-quote {
	margin-bottom: 0;
	padding-left: 1rem;
}

.wp-block-quote:not(.is-large):not(.is-style-large) {
	border-left-color: var(--color-quote-border);
}

.wp-block-quote__citation,
.wp-block-quote cite,
.wp-block-quote footer {
	border-left-color: var(--color-quote-citation);
}

.wp-block-quote__citation {
	font-style: italic;
}

.wp-block-quote__citation::before {
	content: "– ";
}

.wp-block-quote__citation,
.wp-block-quote cite {
	margin-top: 0;
	font-size: var(--font-size-regular);
}

@media (--content-query) {

	.wp-block-quote {
		padding-left: 1.5rem;
	}

	.wp-block-quote.is-large,
	.wp-block-quote.is-style-large {
		padding: 0 2.5rem;
		border-left: 6px solid var(--color-quote-border);
	}

	.wp-block-quote.is-large::before,
	.wp-block-quote.is-style-large::before {
		margin-bottom: 0.5rem;
		height: 52px;
		line-height: 82px;
	}

	.wp-block-quote.is-large p,
	.wp-block-quote.is-style-large p {
		font-size: calc(26 / var(--global-font-size) * 1rem);
	}
}
